.day {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

.day--5 {
    background-color: #FFFFCC;
}

.day--6 {
    background-color: #FFCC99;
}

.day--5,
.day--6 {
    font-weight: 600;
}

.day__dayInMonth {
   margin-right: 7px;
}

.day__calendarWeek {
    float: right;
}